:root {
  --ac-body-fg: var(--salt-content-secondary-foreground);
}
.salt-theme[data-mode='dark'] {
  --ac-body-bg: var(--salt-color-black);
  --ac-panel-bg: #212529;
  --ac-panel2-bg: var(--salt-color-gray-700);
  --ac-border-color: #707274;
}
.salt-theme[data-mode='light'] {
  --ac-body-bg: var(--salt-color-white);
  --ac-panel-bg: #d8dde1;
  --ac-border-color: #cbcccf;
  --ac-panel2-bg: var(--salt-color-gray-20);
}
